# Настройки для контейнера PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
API_PORT=

# Эти переменные для бэкенда (раньше были в backend/.env)
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_DATABASE=
DB_PASSWORD=

# Заглушки для Google Calendar, чтобы Nest.js не падал
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GOOGLE_REDIRECT_URI=https://example.com:3000/google-calendar/oauth-callback
FRONTEND_URL=https://example.com:8080